[Unit]
Description=Neopixel MQTT bridge 
Wants=network.target mosquitto.service
After=network.target mosquitto.service

[Service]
ExecStart=/opt/neopixel_mqtt/app.py ws2812/flur
Restart=always

[Install]
WantedBy=default.target
